@font-face {
	font-family: Montserrat-Bold;
	font-style: normal;
	font-display: block;
	src: url('../webfonts/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
	font-family: Baksoda_Demo;
	font-style: normal;
	font-display: block;
	src: url("../webfonts/Baksoda_Demo.ttf") format("truetype");
}

@font-face {
	font-family: BalooBhaina-Regular;
	font-style: normal;
	font-display: block;
	src: url("../webfonts/BalooBhaina-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Montserrat-Regular;
	font-style: normal;
	font-display: block;
	src: url("../webfonts/Montserrat-Regular.ttf") format("truetype");
}
#SECTION31 {
    height: 56px;
    position: relative;
    background-position: initial;
    background-repeat: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(28, 77, 114);
    
}

#SECTION31 *{
    color: white !important;
}

#SHAPE78 {
    position: absolute;
    z-index: 1;
    top: 9.00231px;
    left: -62px;
}

#SHAPE78>*:first-child {
    width: 47.47685241699219px;
    height: 35.9954px;
    cursor: pointer;
    border-radius: 0px;
}

#GROUP772 {
    position: absolute;
    z-index: 1;
    top: 9.00231px;
    left: -137.25px;
}

#GROUP772>*:first-child {
    width: 1468.5px;
    height: 39px;
    border-radius: 0px;
}

#TITLE643 {
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 760px;
}

#TITLE643>*:first-child {
    margin: 0px;
    width: 106px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#TITLE644 {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 754.25px;
}

#TITLE644>*:first-child {
    margin: 0px;
    width: 100px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#TITLE645 {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 841.25px;
}

#TITLE645>*:first-child {
    margin: 0px;
    width: 117px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
    justify-content: center;
}

#TITLE646 {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 950.25px;
}

#TITLE646>*:first-child {
    margin: 0px;
    width: 96px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#TITLE647 {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 1034.25px;
}

#TITLE647>*:first-child {
    margin: 0px;
    width: 102px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#TITLE648 {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 1127.25px;
}

#TITLE648>*:first-child {
    margin: 0px;
    width: 116px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#TITLE649 {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 1239.25px;
}

#TITLE649>*:first-child {
    margin: 0px;
    width: 99px;
    height: 21px;
    font-size: 15px;
    min-inline-size: fit-content;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#BUTTON122 {
    position: absolute;
    top: 0px;
    left: 1356.5px;
    z-index: 1;
}

#BUTTON122>*:first-child {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    width: 112px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#BUTTON122>*:first-child span {
    font-size: 15px;
    width: 100%;
    height: auto;
    font-weight: bold;
    color: rgb(28, 77, 114) !important;
}

#TITLE650 {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 0px;
}

#TITLE650>*:first-child {
    margin: 0px;
    width: 326px;
    height: 35px;
    font-size: 25px;
    min-inline-size: fit-content;
    font-weight: bold;
    padding: 0px 4px;
    box-sizing: border-box;
    border-radius: 0px;
    color: rgb(28, 77, 114);
    text-align: center;
    -webkit-text-fill-color: unset;
}

#SECTION35 {
	height: 298px;
	position: relative;
	background-position: initial;
	background-repeat: initial;
	background-size: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(28, 77, 114);
}

#PARAGRAPH30 {
	position: absolute;
	z-index: 6;
	top: 72px;
	left: 935px;
}

#PARAGRAPH30>*:first-child {
	margin: 0px;
	width: 200px;
	height: 22px;
	font-size: 16px;
	min-inline-size: fit-content;
	color: rgb(255, 255, 255);
	border-radius: 0px;
	font-family: Roboto;
	font-weight: bold;
}

#IMAGE604 {
	position: absolute;
	z-index: 1;
	top: 43.5536px;
	left: 29px;
}

#IMAGE604>*:first-child {
	width: 200px;
	height: 200.893px;
	background-image: url('https://media.salekit.com/uploads/salekit_153833482ab9678e6a84fa33a750502b/logo-1.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-origin: content-box;
	border-radius: 10px;
}

#TITLE654 {
	position: absolute;
	z-index: 1;
	top: 62px;
	left: 246.998px;
}

#TITLE654>*:first-child {
	margin: 0px;
	width: 536px;
	height: 38px;
	font-size: 27px;
	min-inline-size: fit-content;
	font-weight: bold;
	padding: 0px 4px;
	box-sizing: border-box;
	-webkit-text-fill-color: unset;
	color: rgb(255, 255, 255);
	border-radius: 0px;
}

#GROUP776 {
	position: absolute;
	z-index: 1;
	top: 105px;
	left: 961px;
}

#GROUP776>*:first-child {
	width: 168px;
	height: 45.0003px;
}

#SHAPE87 {
	position: absolute;
	z-index: 7;
	top: 0px;
	left: 0px;
}

#SHAPE87>*:first-child {
	width: 44.08510638297868px;
	height: 43.7837px;
	cursor: pointer;
	border-radius: 0px;
}

#IMAGE605 {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 125.106px;
}

#IMAGE605>*:first-child {
	width: 42.8936170212766px;
	height: 43.7837px;
	background-image: url('https://media.salekit.com/uploads/salekit_153833482ab9678e6a84fa33a750502b/tiktok.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-origin: content-box;
}

#IMAGE606 {
	position: absolute;
	z-index: 1;
	top: 0.750399px;
	left: 61.9576px;
}

#IMAGE606>*:first-child {
	width: 44.08510638297868px;
	height: 44.2499px;
	background-image: url('https://media.salekit.com/uploads/salekit_153833482ab9678e6a84fa33a750502b/icon-zalo9.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-origin: content-box;
}

#PARAGRAPH31 {
	position: absolute;
	z-index: 4;
	top: 119px;
	left: 284.812px;
}

#PARAGRAPH31>*:first-child {
	margin: 0px;
	width: 557.1875380636421px;
	height: 102px;
	font-size: 17px;
	min-inline-size: fit-content;
	color: rgb(255, 255, 255);
	border-radius: 0px;
	line-height: 2;
}

#SHAPE88 {
	position: absolute;
	z-index: 5;
	top: 123px;
	left: 247.5819px;
}

#SHAPE88>*:first-child {
	width: 32.079733772513684px;
	height: 22px;
	cursor: pointer;
	border-radius: 0px;
}

#SHAPE89 {
	position: absolute;
	z-index: 5;
	top: 159px;
	left: 246.942525px;
}

#SHAPE89>*:first-child {
	width: 32.079733772513684px;
	height: 22px;
	cursor: pointer;
	border-radius: 0px;
}

#SHAPE90 {
	position: absolute;
	z-index: 5;
	top: 192px;
	left: 245.998px;
}

#SHAPE90>*:first-child {
	width: 32.079733772513684px;
	height: 22px;
	cursor: pointer;
	border-radius: 0px;
}

#OVERLAY11 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#OVERLAY11>*:first-child {}

#SECTION20 {
    height: 1012px;
    position: relative;
    background-position: initial;
    background-repeat: initial;
    background-image: none;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

@media only screen and (max-width: 760px) {
    #SECTION31 {
        height: 57.49767277221679px;
        position: relative;
        background-position: initial;
        background-repeat: initial;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(28, 77, 114);
    }
    #SHAPE78 {
        position: absolute;
        z-index: 1;
        top: 11.5023px;
        left: 12px;
    }

    #SHAPE78>*:first-child {
        width: 47.47685241699219px;
        height: 35.9953727722168px;
        cursor: pointer;
        border-radius: 0px;
    }

    #GROUP772 {
        position: absolute;
        z-index: 1;
        top: 15.4977px;
        left: 98.292px;
    }

    #GROUP772>*:first-child {
        width: 1332.25px;
        height: 35px;
        border-radius: 0px;
    }

    #TITLE643 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 647.25px;
    }

    #TITLE643>*:first-child {
        margin: 0px;
        width: 106px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
    }

    #TITLE644 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 748.25px;
    }

    #TITLE644>*:first-child {
        margin: 0px;
        width: 100px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
    }

    #TITLE645 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 835.25px;
    }

    #TITLE645>*:first-child {
        margin: 0px;
        width: 117px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
        justify-content: center;
    }

    #TITLE646 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 944.25px;
    }

    #TITLE646>*:first-child {
        margin: 0px;
        width: 96px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
    }

    #TITLE647 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 1028.25px;
    }

    #TITLE647>*:first-child {
        margin: 0px;
        width: 102px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
    }

    #TITLE648 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 1121.25px;
    }

    #TITLE648>*:first-child {
        margin: 0px;
        width: 116px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
    }

    #TITLE649 {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 1233.25px;
    }

    #TITLE649>*:first-child {
        margin: 0px;
        width: 99px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: unset;
    }

    #BUTTON122 {
        position: absolute;
        top: 0px;
        left: 219.5px;
        z-index: 1;
    }

    #BUTTON122>*:first-child {
		background-position: initial;
		background-size: initial;
		background-repeat: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgb(255, 255, 255) !important;
		text-align: center;
		box-sizing: border-box;
		color: rgb(255, 255, 255) !important;
		width: 91px;
		height: 29px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
	}

    #BUTTON122>*:first-child span {
        font-size: 12px;
        width: 100%;
        height: auto;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    #TITLE650 {
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 0px;
    }

    #TITLE650>*:first-child {
        margin: 0px;
        width: 202px;
        height: 21px;
        font-size: 15px;
        min-inline-size: fit-content;
        font-weight: bold;
        padding: 0px 4px;
        box-sizing: border-box;
        border-radius: 0px;
        color: rgb(28, 77, 114);
        text-align: center;
        -webkit-text-fill-color: unset;
    }
    #SECTION35 {
		height: 332.1327315887097px;
		position: relative;
		background-position: initial;
		background-repeat: initial;
		background-size: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgb(28, 77, 114);
	}

	#PARAGRAPH30 {
		position: absolute;
		z-index: 6;
		left: 16.5px;
		top: 240px;
	}

	#PARAGRAPH30>*:first-child {
		margin: 0px;
		width: 111px;
		height: 18px;
		font-size: 13px;
		min-inline-size: fit-content;
		color: rgb(255, 255, 255);
		border-radius: 0px;
		font-family: Roboto;
		font-weight: bold;
	}

	#IMAGE604 {
		position: absolute;
		z-index: 1;
		left: 341px;
		top: 12px;
	}

	#IMAGE604>*:first-child {
		width: 59px;
		height: 59.26339285714288px;
		background-image: url('https://media.salekit.com/uploads/salekit_153833482ab9678e6a84fa33a750502b/logo-1.png');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
	}

	#TITLE654 {
		position: absolute;
		z-index: 1;
		left: 18px;
		top: 33px;
	}

	#TITLE654>*:first-child {
		margin: 0px;
		width: 319px;
		height: 25px;
		font-size: 18px;
		min-inline-size: fit-content;
		font-weight: bold;
		padding: 0px 4px;
		box-sizing: border-box;
		-webkit-text-fill-color: unset;
		color: rgb(255, 255, 255);
		border-radius: 0px;
	}

	#GROUP776 {
		position: absolute;
		z-index: 1;
		left: 15px;
		top: 268px;
	}

	#GROUP776>*:first-child {
		width: 168px;
		height: 45.0003px;
	}

	#SHAPE87 {
		position: absolute;
		z-index: 7;
		top: 0px;
		left: 0px;
	}

	#SHAPE87>*:first-child {
		width: 44.08510638297868px;
		height: 43.78372067253508px;
		cursor: pointer;
		border-radius: 0px;
	}

	#IMAGE605 {
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 125.106px;
	}

	#IMAGE605>*:first-child {
		width: 42.8936170212766px;
		height: 43.78372067253508px;
		background-image: url('https://media.salekit.com/uploads/salekit_153833482ab9678e6a84fa33a750502b/tiktok.png');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
	}

	#IMAGE606 {
		position: absolute;
		z-index: 1;
		top: 0.750399px;
		left: 61.9576px;
	}

	#IMAGE606>*:first-child {
		width: 44.08510638297868px;
		height: 44.24993621673336px;
		background-image: url('https://media.salekit.com/uploads/salekit_153833482ab9678e6a84fa33a750502b/icon-zalo9.png');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		background-origin: content-box;
	}

	#PARAGRAPH31 {
		position: absolute;
		z-index: 4;
		top: 88px;
		left: 56.8145px;
	}

	#PARAGRAPH31>*:first-child {
		margin: 0px;
		width: 344.188px;
		height: 136px;
		font-size: 17px;
		min-inline-size: fit-content;
		color: rgb(255, 255, 255);
		border-radius: 0px;
		line-height: 2;
	}

	#SHAPE88 {
		position: absolute;
		z-index: 5;
		top: 92px;
		left: 19.5839px;
	}

	#SHAPE88>*:first-child {
		width: 32.079733772513684px;
		height: 22px;
		cursor: pointer;
		border-radius: 0px;
	}

	#SHAPE89 {
		position: absolute;
		z-index: 5;
		top: 163px;
		left: 17.9445px;
	}

	#SHAPE89>*:first-child {
		width: 32.079733772513684px;
		height: 22px;
		cursor: pointer;
		border-radius: 0px;
	}

	#SHAPE90 {
		position: absolute;
		z-index: 5;
		top: 195px;
		left: 18px;
	}

	#SHAPE90>*:first-child {
		width: 32.079733772513684px;
		height: 22px;
		cursor: pointer;
		border-radius: 0px;
	}

	#OVERLAY11 {
		position: absolute;
		top: 0px;
		left: NaNpx;
		width: 100%;
		height: 100%;
	}

	#OVERLAY11>*:first-child {}
}

header{
    position: fixed !important;
    top: 0 !important;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.322);
}

a{
    text-decoration: none !important;
}

#scrollToTop{
    aspect-ratio: 1 / 1;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 50;
    height: 45px;
    width: 35px;
    border-radius: 50%;
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.promotion_section{

}

.section-title {
    color: #084c7e;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    font-size: 33px;
    font-family: 'Roboto';
}



.special-offer-card {
    border-radius: 8px;
    overflow: hidden;
    height: 360px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}


.special-offer-overlay {
    padding: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    z-index: 2;

}

.special-offer-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.special-offer-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-view-offer {
    background-color: white;
    color: #084c7e;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
}

.resort-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: white;
}

.resort-image {
    background-size: cover;
    background-position: center;
    aspect-ratio: 8/5;
}

.resort-details {
    padding: 15px;
    line-height: 1.3;
}

.resort-name {
    color: #084c7e;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Montserrat';
}

.discount-info {
    color: rgb(28, 77, 114);
    font-size: 14px;
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
    
}

.discount-icon {
    color: #084c7e;
    margin-right: 5px;
    margin-top: 3px;
}

.countdown-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(28, 77, 114);
}

.countdown-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.countdown-value {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 3px 8px;
    font-weight: bold;
    color: #084c7e;
    font-size: 18px;
}

.countdown-label {
    font-size: 12px;
    margin-top: 3px;
}

.btn-get-offer {
    background-color: #084c7e;
    color: white !important;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.btn-view-more {
    background-color: white;
    color: #084c7e;
    border: 2px solid #084c7e;
    border-radius: 25px;
    padding: 6px 50px;
    font-weight: bold;
    margin: 0px auto 30px auto;
    display: block;
    width: fit-content;
    font-size: 20px;
}

.title-web{
    z-index: 1; 
    color: white !important; 
    font-size: 22px; 
    display: flex; 
    align-items: center;
}
.logo-web{
    width: 40px; 
    height: 40px; 
    aspect-ratio: 1/1
}
@media only screen and (max-width: 767px) {
    .title-web{
        font-size: 18px;
    }
    .logo-web{
        width: 35px; 
        height: 35px; 
    }
}

.title1{
    font-weight: bold;
    color: rgb(8, 34, 62);
	font-size: clamp(22px, 4vw, 35px);
}
.title2{
	margin: 0px;
    font-weight: bold;
    color: rgb(28, 77, 114);
	font-size: clamp(30px, 4vw, 51px);
}
.title3{
    font-size: clamp(16px, 4vw, 19px);
    font-weight: bold;
}

.btn-1{
	background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(28, 77, 114);
    text-align: center;
    color: rgb(255, 255, 255);
    width: 406px;
    height: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.btn-1>span{
	font-size: clamp(16px, 4vw, 20px);
    width: 100% !important;
    height: auto;
    font-weight: bold;
}

.title-white{
	font-size: clamp(20px, 4vw, 35px);
    font-weight: bold;
    -webkit-text-fill-color: unset;
    color: rgb(255, 255, 255);
    text-align: center;
}

.div-hr{
	border-bottom: 2px solid white;
	width: 30%;
}

.title-image{
	font-size: clamp(18px, 4vw, 26px);
	color: white;
	font-weight: bold;
}

.des-image{
	font-size: clamp(16px, 4vw, 20px);
	color: white;
}

.title-blue{
	font-size: clamp(20px, 4vw, 35px);
	font-weight: bold;
	color: rgb(28, 77, 114);
	/* font-family: Montserrat-Bold; */
	text-align: center;
}

.des-event{
	font-size: clamp(15px, 4vw, 18px);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-more-event{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(255, 255, 255);
    width: fit-content;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-more-event>span{
	font-size: clamp(14px, 4vw, 17px);
    height: auto;
    color: rgb(28, 77, 114);
    font-weight: bold;
    width: 100% !important;
}

.text-normal{
	font-size: clamp(16px, 4vw, 18px);
}

.btn-learn-more{
	background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(28, 77, 114);
	padding-left: 20px;
	padding-right: 20px;
}

.btn-learn-more>span{
	font-size: clamp(17px, 4vw, 19px);
    width: 100% !important;
    height: auto;
    color: rgb(28, 77, 114);
    font-weight: bold;
}

.title-black{
	font-size: clamp(17px, 4vw, 19px);
	color: black;
	font-weight: bold;
}

.input-register{
    border-radius: 8px;
    padding: 7px 15px;
    border: var(--color-gray) solid 1px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
}

.btn-register-submit{
	background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(28, 77, 114);
    text-align: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-register-submit>span{
	font-size: 17px;
    width: 100% !important;
    height: auto;
    font-weight: bold;
	padding: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 1;
}

.title-logo-white{
	font-size: clamp(20px, 4vw, 25px);
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.des-logo-footer{
    font-size: clamp(16px, 4vw, 17px);
    color: rgb(255, 255, 255);
}
.title-follow-white{
	font-size: clamp(18px, 4vw, 18px);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.mobile-sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background-color: rgb(28, 77, 114);
    color: white;
    transition: left 0.3s ease;
    z-index: 9999;
    padding: 1rem;
}

.mobile-sidebar.show {
    left: 0;
}

.mobile-sidebar .close-btn {
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.overlay-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 998;
    display: none;
}
.overlay-sidebar.show {
    display: block;
}
.promotion-description, .item-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em;
}

.con-desc{
    max-width: 650px;
    text-align: left !important;
}

@media screen and (max-width: 767px) {
	.logo-footer-c{
		display: none;
	}
    .con-desc{
        max-width: 100%;
    }
}

@media screen and (max-width: 991.20px) {
	.title-sodl{
		display: none;
	}
	.a-icon{
		position: absolute;
		width: 100%;
		justify-content: center;
		padding-right: 1em;
	}
}






