.ddsmoothmenu-v ul{
	margin: 0;
	padding: 0;
	width: 250px; /* Main Menu Item widths */
	list-style-type: none;
	background:#e5e5ff;
}
 
.ddsmoothmenu-v ul li{
	position: relative;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
	display: block;
	overflow: auto; /*force hasLayout in IE7 */
	color: #000;
	text-decoration: none;
	padding: 10px 10px 8px 28px;
	font-weight:bold;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
	background:url(../images/leftMenu_bullet.gif) 10px 11px no-repeat;
	color:#000;
}

.ddsmoothmenu-v ul li a span {color:#fff; padding-right:8px;}

.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color:#00f;
}

.ddsmoothmenu-v ul li a:hover{
	color:#00f;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
	position: absolute;
	width: 200px; /*Sub Menu Items width */
	top: 0;
	font-weight: normal;
	visibility: hidden;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */
.rightarrowclass{
	position: absolute;
	top: 8px;
	right: 5px;
	display:none;
}