.countdown-event-container {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.countdown-event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.countdown-event-value {
    padding: 0px 3px;
    font-weight: bold;
    color: green;
    font-size: 18px;
}

.countdown-event-label {
    font-size: 12px;
	color: green;
}