@charset "utf-8";
/* CSS Document */
@import url("ie6.css");

html, body {padding:0; margin:0; font:normal 12px/100% Arial, Helvetica, sans-serif; text-align:center;}
html { background:#f5f5f5}
img, table {border:none;}
form, p, ul, ol {padding:0; margin:0;}
h1,h2,h3,h4,h5,h6 {display:inline;}

.contentBg {width:100%; margin:0 auto; text-align:left; border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;background:#FFF;}

/*========== HEADER ==========*/
.Header {
	height:130px; 
	/* background:url(../images/header_bg.png) no-repeat; 
	background-size: auto 100%;  */
	background: #dedede;
	background-size: 50px 50px;
	position: relative;
	border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;
}
.headerTop {height:40px;}
.headerCompany {
	/* float:left; 
	padding:15px 10px 5px 120px;  */
	color:#fff; font-size:1.8em; 
	font-weight:bold; 
	/* display:inline; 
	line-height:100%;  */
	text-transform:uppercase;
}
.headerSearch {float:right; width:227px; height:18px; padding:1px 0px; margin:10px; color:#ccc; font-weight:bold; background:url(../images/search_bg.png) right no-repeat;}
.searchLable {display:inline-block; float:left; padding:3px 0;}
.searchForm {width:140px; margin-left:5px; border:none; font:normal 13px Arial, Helvetica, sans-serif; color:#777; background:none; padding:2px; float:left;}
.searchBtn {margin-left:5px; cursor:pointer; border:none; float:left;}
.searchBtn span {display:block;width:20px; height:20px;background:none;}

.topMenu {position: absolute; bottom: 5px; right: 5px; font:bold 14px Tahoma, Geneva, sans-serif;}
.topMenu ul {float:right; padding:0; margin:0; list-style:none;}
.topMenu ul li {float:left; padding:5px 0 5px 17px; margin:0 10px; background: url(../images/topMenu_bullet.gif) left no-repeat;}
.topMenu ul li a {color:#000; text-decoration:none;}
.topMenu ul li a:hover {color:#55556e;}
.topMenu ul li.current a {color:#55556e;}
.topMenu ul li.lang {background:none; padding:5px 0;}
.topMenu ul li.lang a {margin:0 5px;}
/*============================*/
.mainBanner {border:1px solid #d0d0d0; padding:5px; position: relative;}

/*========== MAIN BODY ==========*/
.widthContent {
	/* background:transparent url(../images/body_line.gif) top left repeat-y;  */
	display:block;
}
.bodyBg {
	/* background:url(../images/body_bg.gif) top left no-repeat;  */
	display:block; width:100%;
}
/*----- LEFT column -----*/
.widthLeft {float:left; width:250px;}
.leftMenu {width:100%;}
.leftTitle {
	height: 40px;
	padding:15px 10px 5px; 
	color:#00f;
	display: flex;
	align-items: center;
}
.leftTitle h2 {
	font-size:1.8em; 
	font-weight:normal;
}
/*
.leftMenu ul {margin:1px; padding:10px 0 10px 10px; list-style:none; background:#e5e5ff; font-weight:bold;}
.leftMenu ul li {padding:5px 5px 5px 18px; background:url(../images/leftMenu_bullet.gif) 0 8px no-repeat;}
.leftMenu a {color:#000; text-decoration:none;}
.leftMenu a:hover {color:#00f;}
*/
.visitorCounter {height:auto; padding:10px; margin:1px; background:url(../images/counter_bg.png) no-repeat; background-size: 100% 100%;color:#fff; text-align:center; font:normal 11px/20px Tahoma, Geneva, sans-serif;}
.visitorCounter b {font-size:14px;}

.webLink {margin:10px; font-weight:bold;}
.webLinkForm {margin-top:5px; width:230px; font:normal 13px Arial, Helvetica, sans-serif; color:#777;}

.bannerLeft {margin:10px; font-weight:bold;}
.bannerLeft .adsTD {margin:5px auto; text-align:center;}
.bannerLeft .advertisingImg {max-width:200px; width:expression(this.width > 200 ? 200 : true);}
/*-----------------------*/

/*----- MAIN column -----*/
.widthMain {width:100%; padding: 0 10px; text-align: left;}
.mainTitle {
	padding:10px 0; color:#00f;display: flex;align-items: center;
}
.mainTitle h2 {font-size:1.8em; font-weight:normal;}
.mainTitle h2 a {text-decoration:none; color:#00f;}
.mainContent {}

/*--- Homepage ---*/
/*-- About us --*/
.homeLeft {float:left; width:360px;}
.homeAbout {padding:10px 0; line-height:140%; text-align:justify;}
.homeAbout p {padding:5px 0;}
.homeAbout img {max-width:360px; width:expression(this.width > 360 ? 360 : true); margin:5px 0;}
/*-- Products --*/
.homeRight {float:left; width:330px;}
.homeProduct {padding:10px 0;}
.productTD {float:left; width:145px; margin-top:10px; font:normal 11px Tahoma, Geneva, sans-serif; text-align:center; zoom:1;}
.productTDSpace {float:left; width:0; padding:20px 16px;}
.productTDImg {padding:5px; border:1px solid #ccc;}
.productTDImgsize {max-width:112px; width:expression(this.width > 112 ? 112 : true); max-height:112px; height:expression(this.height > 112 ? 112 : true);}
.productTDName {font-weight:bold;}
.productTDName a {color:#000; text-decoration:none;}
/*----------------*/

/*----- About us page -----*/
.aboutUs {padding:10px 0; line-height:1.4;}
.aboutUs p {padding:5px 0;}
.aboutUs img {max-width:100%; margin:5px;}
/*-------------------------*/

/*----- Contact page -----*/
.contactUs {padding:10px 20px 10px 0;}
.contactInfo {padding:10px; margin-bottom:10px; border-bottom:1px dotted #999;}
.contactForm {padding:0 70px;}
.textForm {border:1px solid #aaa; margin:1px 0; padding:2px 3px; color:#555; font:normal 13px Tahoma, Verdana, Arial, sans-serif;}
.textArea {border:1px solid #aaa; margin:1px 0; padding:2px 3px; color:#555; font:normal 13px Tahoma, Verdana, Arial, sans-serif;}
.formTitle {font-weight:bold;}
.button {margin-top:5px; margin-right:5px;}
/*-----------------------*/

/*----- Products -----*/
.mainProduct {padding:10px 0;}
.productSpace {float:left; width:0; padding:20px 10px;}
.contentProduct {}
.contentProduct table {border:1px solid #CCC; border-collapse:collapse;}
.contentProduct th {font-weight:bold; padding:3px 5px; background:#EEE;}
.contentProduct td {padding:4px 8px; line-height:140%;}
.contentProduct td h4 {font-size:1.2em; color:#00F; line-height:140%;}
.contentProduct td h4 a {text-decoration:none;}
.contentProduct img {margin:4px 2px;}

/*--------------------*/
.productDetailTxtImg {margin-top:15px; border:1px solid #DDD; text-align:center;}
.productDetailImg {max-width:100%; width:expression(this.width > 240 ? 240 : true); padding:5px; text-align:center;}
.productDetailSpace {width:0; padding:10px;}
.productDetailTxt {float:left; width:440px; margin-top:15px;}
.productDetailTxt .proName {color:#0064c8; padding-bottom:10px;}
.productDetailTxt .proName h2 {font-size:1.6em; color:#0064c8;}
.productDetailTxt .proNum {padding-bottom:10px;}
.proDes {margin-top:15px; line-height:150%; text-align:justify;}
.proDes .titleDes {background:#e5e5ff; padding: 5px 10px;}
.proDes .titleDes h2 {font-size:1.6em; color:#0064c8; line-height:130%;}
.proButton {margin-top:10px; text-align:left;}
.productDetailTxt .proPrice {font-weight:bold; font-size:13px; color:#F00;}
.zoomImg{margin-top:5px; padding:5px; display:block; color:#999; text-align:center;}

/*-- end of Main Column --*/

/*============================*/
#scrollDoiTac  {
    padding: 0;
    margin: 0;
	height:68px;
}
#scrollDoiTac ul {
	margin: 0;
	padding:0;
	list-style:none;
}
#scrollDoiTac ul li{margin:0 17px 0 5px; float:left;}
#scrollDoiTac ul li.li_scroll{width:98px; height:68px; overflow:hidden; text-align:center; border:1px solid #d7d7d7; background:#FFF;}
#scrollDoiTac ul li.li_scroll .li_scrollImg {max-height:120px; height:expression(this.height > 120 ? 120 : true);max-width:96px; width:expression(this.width > 96? 96 : true);}
#scrollDoiTac ul li.li_scroll p {padding-top:5px;}
#scrollDoiTac ul li.li_scroll p a {color:#000; font-weight:bold; text-align:center;}

.topdeals{ width:230px;height:340px; overflow:hidden; margin:0;}
.topdeals ul{margin:10px auto; padding:0px 0 15px 0; width:190px; list-style:none; }
.topdeals li{float:left; width:190px; overflow:hidden;}
.topdeals li a{text-decoration:none; color:#069;}
.topdeals li b{ color:#069;display:block; margin-top:4px; margin-bottom:5px; height:15px; overflow:hidden; font-size:12px; font-weight:bold;}

.nontopdeals{ width:197px; margin:0 8px;}
.nontopdeals ul{float:none; margin:10px auto; display:block; padding:0px 0 15px 0; width:197px; }
.nontopdeals li{display:block; float:left; width:185px;}
.nontopdeals li a{text-decoration:none; color:#069;}
.nontopdeals li b{ color:#069;display:block; margin-top:4px; height:15px; overflow:hidden; font-size:12px; font-weight:bold;}


/*========== FOOTER ==========*/
.Footer {clear:both;}
.footerBg {width:100%; margin:0 auto; padding:2px 1px 20px 1px; text-align:left; border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;}
.footerLogo {height:98px; padding:3px 10px 0; background:#dcdcf6; color:#6363fd; font-weight:bold; font-size:13px; text-align:left;}
.footerLogoList {padding:5px 5px 0;}
/*
.footerLogoTD {width:98px; height:68px; background:#fff; border:1px solid #d7d7d7; vertical-align:middle; text-align:center;}
.footerLogoTDSpace {float:left; width:0; padding:20px 10px;}
.footerLogoImg {max-width:90px; width:expression(this.width > 90 ? 90 : true); max-height:60px; height:expression(this.height > 60 ? 60 : true);}
*/
.footerMenu {padding:10px 0; font:bold 13px Tahoma, Geneva, sans-serif;}
.footerMenu a {margin:0 10px; color:#000; text-decoration:none;}
.footerCopyright {font:normal 13px Tahoma, Geneva, sans-serif;}
.footerCopyright:before,.footerCopyright:after {display: table; content: ''; line-height: 0;}
.footerCopyright:after {clear: both;}
.footerCopyright [class*="span"] {float: left; display: block; position: relative;}
.footerCopyright .span6 {width: 500px;}
.footerCopyright .span3 {width: 229px; margin-left: 20px;}
.footerCopyright .footer-warp {padding: 10px; line-height: 1.4;}
.footerCopyright .name {font-weight: 600; font-size: 13px; text-transform: uppercase;}
.footerCopyright .sublist {margin: 0; padding: 0; list-style: none;}
.footerCopyright .sublist li {display: block; margin: 3px 0;}
.footerCopyright .sublist li a {display: block; line-height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; position: relative;}
.footerCopyright a {color:#555;}
/*============================*/

/*--- Others ---*/
.clear {clear:both;line-height:0;}
.left {text-align:left;}
.right {text-align:right;}
.floatleft {float:left;}
.floatright {float:right;}
.center{text-align:center;}
.bold {font-weight:bold;}
.red {color:#F00;}
.top {vertical-align:top;}
.uppercase {text-transform:uppercase;}
.spacetop5px {margin-top:5px;}
.spacetop10px {margin-top:10px;}
.spaceleft10px {margin-left:10px;}
.spaceleft15px {margin-left:15px;}
.spaceleft20px {margin-left:20px;}
.spaceleft25px {margin-left:25px;}
.moredetail {background:url(../images/xemtiep.png) 100% 4px no-repeat; padding-right:10px; font-size:13px; color:#C30;}
/*--- Page number ---*/
.pageNumber {padding:5px; margin-top:5px; border-top:1px dotted #ccc; font-weight:bold; line-height:100%;}
.pageNumber a {display:block; float:left; margin:0 1px; padding:3px 4px; background:#ccc; color:#333; text-decoration:none;}
.pageNumber a:hover {background:#f0e600; color:#000;}
.pageNumber a.current {background:#f0e600; color:#000;}
.gioithieukhac ul {margin: 0; padding: 0 0 0 20px;}